@{
    ViewBag.Title = Web.SiteHelper.GetFullPageTitle("Reset Password Email Sent");
}

<h2>Reset Password Email Sent</h2>

<p>
    Please check your email for further instructions.
</p>

<p>
    @Html.ActionLink("Login", "Login")
</p>