@model string
@{
    ViewBag.Title = Web.SiteHelper.GetFullPageTitle("Forgot Password?");
}

<h2>Forgot Your Password?</h2>
<p>
    Enter your email below and we'll send you a link you can use to create a new password.
</p>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false, "", new { @class = "flash" })
    
    <div id="forgotPassword">
        <div class="field">
            <label for="Email">Email:</label>
            <input type="text" id="Email" name="Email" value="@Model" />
        </div>

        <div class="buttons">
            <input type="submit" value="Reset Password" />
        </div>
    </div>
}
