@{
    ViewBag.Title = Web.SiteHelper.GetFullPageTitle("Password Reset");
}

<h2>Password Reset</h2>

<p>
    Your password has been reset.
</p>

<p>
    @Html.ActionLink("Please login with your new password.", "Login")
</p>