body 
{
    font-size:1.0em;
}
h1, h2, h3, h4, h5, h6 {font-weight:normal;}
h1 {font-size:2.5em;line-height:1;margin-bottom:0.5em;}
h2 {font-size:2em;margin-bottom:0.3em;}
h3 {font-size:1.5em;line-height:1;margin-bottom:1em;}
h4 {font-size:1.2em;line-height:1.25;margin-bottom:1.25em;}
h5 {font-size:1em;font-weight:bold;margin-bottom:1.5em;}
h6 {font-size:1em;font-weight:bold;}

#container 
{
    width: 950px;
    margin:0 auto;
    position: relative;
}

#loginMenu 
{
    position: absolute;
    right: 1em;
    top: 0;
}

#LogOutForm 
{
    display: inline;
}

#main 
{
    margin-bottom: 1em;
}

#signup, #login
{
    float: left;
    width: 400px;
}

footer 
{
    clear: both;
}


/* Styles for flash messages
-----------------------------------------------------------*/
/* hide validation summaries if the user has javascript in which case we'll "flash" the messages */
.flash 
{
    display: none;
}
.no-js .flash 
{
    display: block;
}

#flash li
{
    list-style: none;
}

#busy 
{
    background-image: url('images/busy.gif');
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    position: fixed;
    top: 10px;
    right: 50%;
    z-index: 100;
}
.info
{
    background-color: #CCFFCC;
    border-top: 1px solid #FFCC66;
    border-bottom: 4px solid #FFCC66;
    padding: 6px;
    font-family: helvetica;
    font-size: 1.1em;
    text-align: center;
    border-top-color: #006600;
    border-bottom-color: #006600;
    font-weight: bold;
    color: #339933;
    cursor:pointer;
}
.warning
{
    background-color: #FFFF99;
    border-top: 1px solid #FFCC66;
    border-bottom: 4px solid #FFCC66;
    padding: 6px;
    font-family: helvetica;
    font-size: 0.9em;
    text-align: center;
    border-top-color: #CC9900;
    border-bottom-color: #CC9900;
    font-weight: bold;
    color: #663300;
    cursor:pointer;
}
.error
{
    background-color: #FFCC99;
    border-top: 1px solid #FFCC66;
    border-bottom: 4px solid #FFCC66;
    padding: 4px;
    font-family: helvetica;
    font-size: 1.1em;
    text-align: center;
    border-top-color: #800000;
    border-bottom-color: #800000;
    font-weight: bold;
    color: #990000;
    cursor:pointer;
}


/* Styles for basic forms
-----------------------------------------------------------*/

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

.editor-label, .editor-buttons 
{
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}
