<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Ninject" version="2.1.0.76" />
  <package id="WebActivator" version="1.0.0.0" />
  <package id="Ninject.MVC3" version="0.3" />
  <package id="SqlServerCompact" version="4.0.8482.1" />
  <package id="EFCodeFirst" version="0.8" />
  <package id="elmah" version="1.1" />
  <package id="AntiXSS" version="4.0.1" />
</packages>