<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="SqlServerCompact" version="4.0.8482.1" />
  <package id="YUICompressor.NET" version="1.5.0.0" />
  <package id="dotless" version="1.1.0" />
  <package id="AjaxMin" version="4.13.4076.28499" />
  <package id="TelerikMvcExtensions" version="2011.2.712" />
  <package id="EntityFramework" version="4.1.10715.0" />
  <package id="elmah.corelibrary" version="1.2" />
  <package id="elmah" version="1.2.0.1" />
  <package id="Ninject" version="2.2.1.4" />
  <package id="WebActivator" version="1.4.1" />
  <package id="Ninject.MVC3" version="2.2.2.0" />
  <package id="RazorEngine" version="2.1" />
  <package id="BCrypt" version="1.0.0.0" />
</packages>